<input type="text" placeholder="codice" [(ngModel)]="cliente.codice">
<input type="text" placeholder="ragione sociale" [(ngModel)]="cliente.ragioneSociale">
<input type="text" placeholder="indirizzo" [(ngModel)]="cliente.indirizzo">
<button (click)="inserisci()" *ngIf="stato != 'modifica'">Inserisci</button>

<!--               Pulsanti di modifica da implementare              -->
<!-- <button (click)="confermaModifica()">Conferma Modifica</button> -->
<!-- <button (click)="annullaModifica()">Annulla Modifica</button> -->

<br>
<br>
<div *ngIf="stato != 'modifica'">
<input type="text" placeholder="ricerca" [(ngModel)]="criterioRicerca">
<button (click)="search()">cerca</button>
</div>
<br>
<br>
<table *ngIf="clienti.length > 0">
  <tr>
    <th>Codice</th>
    <th>ragione sociale</th>
    <th>indirizzo</th>
    <th>Operazioni</th>
  </tr>
  <tr *ngFor="let c of clienti; index as i">
    <td>{{c.codice}}</td>
    <td>{{c.ragioneSociale}}</td>
    <td>{{c.indirizzo}}</td>
    <td>
      <div *ngIf="visButtConfAnn[i] == false">
        <button (click)="elimina(c)" [disabled]="stato == 'modifica'">X</button>
        <button (click)="seleziona(c, i)" [disabled]="stato == 'modifica'">Seleziona</button>
      </div>
      <div *ngIf="visButtConfAnn[i]">
        <button (click)="confermaModifica(i)">Conferma modifica</button>
        <button (click)="annullaModifica(i)">Annulla modifica</button>
      </div>
    </td>
  </tr>
</table>